nav {
    width: 100%;
    height: 100%;
    background-color: #5809AC;
    border-bottom: #000000 2px solid;
    position: sticky;
    top: 0;
    color: white;
    letter-spacing: 2px;
    z-index: 10;
}

nav .container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

nav a {
    color: #000000;
}

nav h1 {
    display: none
}

nav .logo {
    width: 100%;
    height: 100%;
}
.logoLink {
    width: 100px;
    height: 104px;
    padding: 5px 15px 5px 15px;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    nav h1 {
        display: flex;
    }
}
