.aboutUs {
    background-image: url('../../assets/aboutUsBackground.jpg');
    background-position: center;
    background-size: cover;
    padding:0 ;
}

.aboutUsShadow {
    background-color: rgba(0, 0, 0, .3);
}

.aboutUs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0 ;
}

.aboutUsText {
    width: 50%;
    margin-bottom: 50px;
}

.aboutUsCText p {
    text-align: justify;
}

.aboutUsLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutUsLinks .btnTransparent {
    width: 160px;
    height: 40px;
}

.aboutUsTeachers , .aboutUsClasses {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUsTeachers {
    align-self: flex-start;
}

.aboutUsClasses {
    align-self: flex-end;
}

.aboutUsTeachers, .aboutUsClasses h3 {
    text-align: left;
}

