th, td {
    border: 2px solid white;
}
span, td, th {
    padding-right: 10px;
    padding-left: 10px;
}
.PriceColumn, .QuantityColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NamesColumn {
    display: flex;
    flex-direction: column;
}

th, td {
    border-radius: 5px;
    padding: 10px;
}
table {
    font-size: 24px;
    border-collapse: separate;
}
.AlertSmall {
    font-size: 16px;
    font-style: italic;
}
h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

h4 {
   font-size: 28px;
}
.SingleLesson {
    border: 2px white solid;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}
.PriceListSection {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PriceListTable {
    width:100%;
}

.Column {
    display: flex;
    flex-direction: column;
}

.DiscountBox {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
}

.FlexStart {
    align-items: start;
}
.tr {
    display: table;
}

.xs-th {
    border: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.xs-td {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}
.padding-top {
    padding-top: 30px;
}
.margin-top {
    margin-top: 10px;
}

.xs-table {
    margin-bottom: 10px;
}
.xs-name-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
