.landingPage {
    background-color: black;
    height: calc(100vh - 100px);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.aboutPlace {
    padding: 0;
}