footer {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(315deg, #2f2c2c 0%, #626666 74%);
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

footer a, footer p {
    color: #000000;
}
